body {
    font-family: Arial;
    margin: 0;
}

/* Header */
header {
    background: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Навігація */
nav {
    background: lightgray;
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

/* Секції */
section {
    padding: 20px;
}

/* Кнопка */
button {
    padding: 10px;
    background: darkblue;
    color: white;
    border: none;
}

button:hover {
    background: blue;
}

/* Форма */
input, textarea {
    width: 300px;
    margin: 5px 0;
    padding: 5px;
}

/* Footer */
footer {
    background: gray;
    text-align: center;
    padding: 10px;
    color: white;
}