body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d3d3dd;
}

/* HEADER */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* FLEX КОНТЕЙНЕР */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}

/* КАРТКИ */
.card {
    width: 160px;
    background-color: #eeeeee;

    /* Box Model */
    padding: 13px;
    margin: 15px;
    border: 2px solid black;

    text-align: center;
}

/* КАРТИНКИ */
.card img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}

/* 🔥 АДАПТИВНІСТЬ */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}